In [1]:
# Importing Libraries
import numpy as np
import pandas as pd

In [2]:
# Ignoring Warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Importing Dataset
df = pd.read_csv('data2.csv')

In [4]:
# Dimensions of Dataset
df.shape

(25000, 12)

In [5]:
# Dataset Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      25000 non-null  int64
 1   A       25000 non-null  float64
 2   B       25000 non-null  float64
 3   C       25000 non-null  int64
 4   D       25000 non-null  float64
 5   E       25000 non-null  int64
 6   F       25000 non-null  float64
 7   G       25000 non-null  int64
 8   H       25000 non-null  int64
 9   I       25000 non-null  float64
 10  J       25000 non-null  int64
 11  Target  25000 non-null  int64
dtypes: float64(5), int64(7)
memory usage: 2.3 MB

In [6]:
# Fropping ID Columns
df = df.drop(columns=['ID'], axis=1)

In [7]:
# Data
df.head()

,A,B,C,D,E,F,G,H,I,J,Target
0,73.725693,29.562822,10,5.746985,2,561.442154,3,2,88.604450,2,0
1,4.116468,30.095169,2,6.792506,8,557.535311,5,0,37.463449,0,1
2,77.606580,49.689778,3,7.300040,2,556.182285,3,5,36.718073,5,1
3,17.787214,39.191307,1,5.810426,5,539.476502,6,2,54.431439,2,1
4,59.411830,47.295107,12,5.195443,3,556.855548,3,1,32.405311,1,1

## Continuous Columns

### Columns to Target
- A, B, D, F, I

In [8]:
# Dataset with Continuous Features
df_cont = df[['A', 'B', 'D', 'F', 'I']]

### Mean Absolute Difference
- mad = (1/n)Σ|x<sub>ij</sub>-μ<sub>i</sub>|
- where, i is the i<sup>th</sup> feature
- μ<sub>i</sub> is Mean of ith feature
- x<sub>ij</sub> is specific observation of j<sup>th</sup> observation of i<sup>th</sup> feature
- n is the total number of observations

In [9]:
# Mean Absolute Difference
mad = np.sum(np.abs(df_cont - np.mean(df_cont, axis=0)), axis=0) / df_cont.shape[0]
mad

A    24.914294
B     7.500065
D     2.252792
F    24.960024
I    14.922576
dtype: float64